@import '../../styles/variables.module.scss';

.container {
  // position: relative;
  width: 75vw;
  // border: 1px solid red;

  // .researchHeader {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   height: 70px;
  //   border: 1px solid red;
  // }

  // .callResearch {
  //   padding: 8px 2px 0;
  //   height: calc(100vh - 300px);
  //   overflow: auto;

  //   .scrollArea {
  //     margin: 0 0 8px;
  //   }
  // }

  .callScrollArea { // used in the notes component
    height: calc(100vh - 185px);
    overflow: auto;
    border: 1px solid green;

    .callContainer {
      height: 600px;
      padding: 0 8px;

      .historyHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .actions {
          display: flex;
          align-items: center;
        }
      }

      .callHistory {
        display: flex;
        height: 490px;
        // height: calc(100vh - 300px);
        &__leftCol {
          // height: 200px;
          width: 60%;
          margin: 0 8px 0 0;
          // border: 1px solid green;
        }

        &__rightCol {
          display: flex;
          flex-direction: column;
          // justify-content: center;
          width: 40%;
          // border: 1px solid red;
          // overflow: auto;

          &__paper {
            flex-grow: 1;
            padding: 8px 16px;
            margin: 0 0 8px;
            overflow: auto;
          }
        }
      }
    }
  }
}
