@import '../../styles/variables.module.scss';

.text-you {
  position: relative;
  padding: 4px 8px 4px 33px;
  margin: 0 0 8px;
  border-radius: 0 0 20px 0;
  background: rgba(63, 81, 181, 0.75);
  color: $WHITE;

  // border: 1px solid blue;

  &__space {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25px;
    border-radius: 0 0 20px 0;
    background: white;
  }
}

.text-them {
  position: relative;
  padding: 4px 32px 4px 16px;
  margin: 0 0 8px;
  border-radius: 0 0 0 20px;
  background: #ccc;

  &__space {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25px;
    border-radius: 0 0 0 20px;
    background: white;
  }
}
