$XXS: 4px;
$XS: 8px;
$SM: 16px;
$MD: 20px;
$LG: 24px;
$XL: 28px;
$XXL: 32px;

/* stylelint-disable property-no-unknown */
:export {
  XXS: $XXS;
  XS: $XS;
  SM: $SM;
  MD: $MD;
  LG: $LG;
  XL: $LG;
  XXL: $XXL;
}
/* stylelint-enable property-no-unknown */
